* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #293445;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
  }
  
  #flag{
    margin-bottom: 0px;
    width: 200px;
  }
  
  #input-pais {
    padding: 10px;
    width: 80%;
  }
  
  #btn-adivinhar {
    padding: 10px 20px;
    background-color: #ff5050;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .dicas {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    border-radius: 20px;
    
  }
  
  .dica {
    text-align: center;
    border-radius: px;
  }
  .dica p{
    margin-top: 10px;
    vertical-align: middle;
    display: table-cell;
  }
  #dica-idioma{
   margin-top: 10px;
   vertical-align: middle;
   
    
  }
  #dica-continente{
    border-radius: 7.2px;
    vertical-align: middle;
    padding: -1px;
  }
  #dica-letra{
    border-radius: 7.2px;
    vertical-align: middle;
    padding: -3px;
  }
  #dica-idioma{
    border-radius: 7.2px;
    vertical-align: middle;
    padding-top: 16px;
  }
  #dica-hemisferio{
    border-radius: 7.2px;
    vertical-align: middle;
    padding: 3px;
  }
  
  .indicador {
    font-size: 13px;
    margin: auto;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    background-color: #293445;
    padding: 10px;
    
  }
  #dica-bandeira{
    color: #293445;
  }
  #dica-letra{
    padding-top: 23px;
  }
   #dica-hemisferio{
    padding-top: 17px;
  }
  
  #indicadores-de-cor {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .cor {
    width: 30px;
    height: 30px;
    display: inline-block;
  }
  #dica-bandeira-img{
    width: 80px;
    height: 80px;
    padding: 0%;
    margin-left: 2px;
    margin-top: 10.1px;
    
  }
  
  .correto {
    background-color: green;
  }
  
  .parcial {
    background-color: yellow;
  }
  
  .incorreto {
    background-color: red;
  }
  