* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #293445;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
  }
  
  #flag{
    margin-bottom: 0px;
    width: 200px;
  }
  
  #input-pais {
    padding: 10px;
    width: 80%;
  }
  
  #btn-adivinhar {
    padding: 10px 20px;
    background-color: #ff5050;
    color: white;
    border: none;
    cursor: pointer;
  }
  #dica-bandeira-img{
    width: 80px;
    height: 80px;
  }
  
  .dicas {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
  }
  
  .dica {
    text-align: center;
  }
<<<<<<< HEAD
  
=======
<<<<<<< HEAD
  #dica-bandeira-img{
    width: 80px;
    height: 80px;
  }
=======
  .dica1 p{
    margin-top: 10px;
  }
>>>>>>> 370210caa66b0fc90c77e8472a0fd09fba892ebc
  #dica-idioma{
   margin-top: 10px;
  }
  
>>>>>>> 3ac8a73dc7299d6b7f993f6097d98cf4e5a1f0b1
  .indicador {
    font-size: 13px;
    margin: auto;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    background-color: grey;
    padding: 10px;
    
  }
  #dica-letra, #dica-hemisferio{
    padding-top: 23px;
  }
  
  #indicadores-de-cor {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .cor {
    width: 30px;
    height: 30px;
    display: inline-block;
  }
  
  .correto {
    background-color: green;
  }
  
  .parcial {
    background-color: yellow;
  }
  
  .incorreto {
    background-color: red;
  }
  
  